.custom-column {
    border: 2px solid #c8e6c9;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-column.left {
  margin-right: 10px !important;
  max-width: 60%;
}
.custom-column.left {
  margin-left: 2px !important;
}

.container {
    max-width: 1440px;
}