<div class="jumbotron">
  <h2 class="h1 h1-responsive" style="text-align: center">Match Center</h2>
  <div class="row">
    <div class="col">
      <h3 style="text-align: center">
        Home: {{ homeObs | async }}
      </h3>
    </div>
    <div class="col">
      <h3 style="text-align: center">
        Away: {{ awayObs | async }}
      </h3>
    </div>
  </div>
  <p style="text-align: center">
    Referee: {{ refereeObs | async }}
  </p>
  <p style="text-align: center">
    Attendance: {{ attendanceObs | async }}
  </p>
  <div class="container">
    <div class="row">
      <div class="col-8 custom-column left">
        <h4 class="h4 h4-responsive">Live commentary</h4>
        <ul class="list-group">
          <app-list-item *ngFor="let event of (eventsObs | async)" 
          [minute]="event.minute" [type]="event.type" [text]="event.text"
          [player]="event.player" [attr.id]="'scroll' + event.id"
           ></app-list-item>
        </ul>
      </div>
      <div class="col-4 custom-column right">
        <h4 class="h4 h4-responsive">Key events</h4>
        <app-key-events></app-key-events>
      </div>
    </div>
  </div>
</div>