<div class="jumbotron">
  <h2 class="h1 h1-responsive" style="text-align: center">Match Center</h2>
  <div class="row">
    <div class="col">
      <h3 style="text-align: center">
        Home: {{ homeObs | async }}
      </h3>
    </div>
    <div class="col">
      <h3 style="text-align: center">
        Away: {{ awayObs | async }}
      </h3>
    </div>
  </div>
  <p style="text-align: center">
    Referee: {{ refereeObs | async }}
  </p>
  <p style="text-align: center">
    Attendance: {{ attendanceObs | async }}
  </p>
  <ul class="list-group">
    <app-list-item *ngFor="let event of (eventsObs | async)" 
    [minute]="event.minute" [type]="event.type" [text]="event.text" [player]="event.player"></app-list-item>
    <!--<li *ngFor="let event of (eventsObs | async)" class="list-group-item">{{ event.text }}</li>-->
  </ul>
</div>